* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.button {
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.incomplete_btn {
    background-color: cornflowerblue;
    color: white;
}

.complete_btn {
    background-color: cornflowerblue;
    color: white;
}

.delete_btn {
    background-color: red;
    color: white;
}

.edit_btn {
    background-color: green;
    color: white;
}

.button span {
    font-weight: bold;
}

#showAllBooks {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

#showAllBooks span {
    font-weight: bold;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-areas:
        "input search"
        "unfinished finished";
    grid-gap: 20px;
}

.input_section {
    grid-area: input;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: cornflowerblue;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 5px;
}

.input_section > form > .input > label {
    color: cornflowerblue;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    grid-area: search;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}

.search_section > h2 {
    color: cornflowerblue;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    width: calc(100% - 16px);
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.book_shelf > .book_list {
    flex: 1;
    margin-top: 20px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: cornflowerblue;
    margin-bottom: 16px;
}
